@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Kalam:wght@400;700&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

.container{
    width: 97vw;
    min-height:100vh;
    padding: 10px;
    
}
.todo-app{
    width: 100%;
    max-width: 600px;
    background: #f0f0f0ee;
    margin: 100px auto ;
    margin-bottom: 20px;
    padding: 10px 30px 70px 30px;
    border-radius: 15px;
    overflow:visible;
    box-shadow: 0px 8px 15px rgba(23, 7, 71, 0.5);
}
.todo-app h2{
    color: #072956;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.date-time{
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    gap: 10px;
    margin-bottom: 20px;
    color: #938d97;
}
input{
    border: none;
    flex: 1;
    background: transparent ;
    padding: 10px;
    padding-left: 30px;
    font-weight: 18px;
    font-size: 18px;
}

@media only screen and (min-width: 591px) {
    .inputField {
        text-align: center;
    }
}

button{
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    background: #3aa1e0;
    color: #ddd4e4;
    margin: 2px;
    box-shadow: 0px 8px 15px rgba(45, 74, 203, 0.3);
}
@media only screen and (max-width: 436px) {
    button{
        padding: 10px 20px;
        font-size: 12px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }
    input{
        width: 90%;
    }
    .todo-app{
        margin-top: 50px;
    }

  }
.hover-effect,button:hover{
    transform: scale(.90); 
    transition: transform 0.5s ease-in-out; 
}
button:active,.button-active{
    background-color: #7490c7;
}

#list-container li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    position: relative;
    cursor: pointer; 
}

.completeIcon {
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 0px;
}
.completeIcon:hover{
    box-shadow: 0px 0px  20px rgba(41, 65, 170, 0.9);
}
.checked {
    background-image: url(assets/images/checked2.png);  
    text-decoration: line-through;
}
.removeIcon{
    background: #de4949;
    padding: 5px 13px;
    border-radius: 50%;
    color: #ddd4e4;
    margin-left: 5px;
}
.removeIcon:hover{
    background: #c52e2e;
}

#list-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task{
    background-color: #aeb1b340;
    border-radius: 10px;
    padding: 2px 10px 2px  20px;
    display: inline;
    margin-right: 5px;
    flex: 1;    
}
.cross-line{
    text-decoration: line-through;
    color: #7c4f5e;
}
/* background animation */
.area{
    background: rgba(78, 136, 202, 0.854);  
    background: -webkit-linear-gradient(to left, #010003, #6e41d7);  
    width: 100%;
    height:100vh;
    user-select: none;
    cursor: pointer;
    position: fixed;
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

} 